@using DbCv1.Models.Entity

@model  List<TblSertfikalarım>

<div class="resume-section-content">
    <h2 class="mb-5">Ödüller & Sertfikalar</h2>
    <ul class="fa-ul mb-0">
        @foreach (var sertfikalarım in Model)
        {
            

        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            @sertfikalarım.Aciklama;
        </li>
        
         
        }
    </ul>
</div>
