@using DbCv1.Models.Entity
@model TblSertfikalarım

@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SertifikaGetir</h2>

<form method="post">

    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })


    <br />






    <br />


    @*<a href="/Sertifika/SertifikaDüzenle/@ite" class="btn btn-info">Kaydet</a>*@


    <button class="btn btn-info">Kaydet</button>
    <a href="~/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">Sil</a>
</form>